n8n-workflow.json
{
  "name": "Résumé Emails Gmail — Agent IA",
  "nodes": [
    {
      "parameters": {},
      "id": "042fe8c0-d174-400b-bfb9-aabe8b4479dc",
      "name": "Démarrage manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a4b30a9d-f65d-44ec-ba2d-c30c57c0897f",
      "name": "Planification — 8h jours ouvrés",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 160]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mailstoday",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567890",
      "name": "Webhook — GET /mailstoday",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 320],
      "webhookId": "mailstoday-webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "={{ 'after:' + new Date().toISOString().slice(0,10).replace(/-/g,'/') }}"
        },
        "options": {}
      },
      "id": "19956de3-3b14-431e-919d-c173f892bdaa",
      "name": "Gmail — emails du jour",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [280, 160],
      "credentials": {
        "gmailOAuth2": {
          "id": "xm2wB6ieD5TaGS93",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = items.map(item => {\n  const msg = item.json;\n\n  let from = '';\n  if (typeof msg.from === 'string') {\n    from = msg.from;\n  } else if (msg.from?.text) {\n    from = msg.from.text;\n  } else if (msg.from?.value?.[0]) {\n    const v = msg.from.value[0];\n    from = v.name ? `${v.name} <${v.address}>` : v.address || '';\n  }\n\n  const subject = msg.subject || '(sans objet)';\n  const date = msg.internalDate\n    ? new Date(Number(msg.internalDate)).toISOString()\n    : msg.date || new Date().toISOString();\n  const body = msg.text || msg.body?.text || msg.snippet || '';\n  const snippet = msg.snippet || body.substring(0, 200);\n\n  return { id: msg.id || '', from, subject, date, snippet, body };\n});\n\nreturn [{ json: { emails, count: emails.length } }];"
      },
      "id": "a2df4387-5c1b-4699-8523-c2058cdb7862",
      "name": "Formater les emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 160]
    },
    {
      "parameters": {
        "jsCode": "const emails = items[0].json.emails || [];\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.emails = JSON.stringify(emails);\n\nconst prompt = emails.length === 0\n  ? 'Aucun email reçu aujourd\\'hui.'\n  : emails.map((e, i) => `${i+1}. De: ${e.from}\\n   Objet: ${e.subject}\\n   Extrait: ${e.snippet?.substring(0,150)}`).join('\\n\\n');\n\nreturn [{ json: {\n  groqBody: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n      { role: 'system', content: 'Tu es un assistant qui résume des emails professionnels en français, de manière concise et structurée.' },\n      { role: 'user', content: `Voici les emails reçus aujourd\\'hui. Fais un résumé concis en 3 à 5 bullet points :\\n\\n${prompt}` }\n    ],\n    temperature: 0.5,\n    max_tokens: 400\n  })\n}}];"
      },
      "id": "c1d2e3f4-a5b6-7890-cdef-123456789abc",
      "name": "Préparer Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $vars.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.groqBody }}",
        "options": {}
      },
      "id": "d2e3f4a5-b6c7-8901-defa-23456789abcd",
      "name": "Appel Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 160]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst emails = staticData.emails ? JSON.parse(staticData.emails) : [];\nconst summary = items[0].json.choices?.[0]?.message?.content || 'Résumé non disponible.';\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  date: new Date().toISOString().split('T')[0],\n  summary,\n  emails\n} }];"
      },
      "id": "e3f4a5b6-c7d8-9012-efab-3456789abcde",
      "name": "Formater réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d3e4f5a6-b7c8-9012-cdef-123456789012",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1480, 320]
    }
  ],
  "pinData": {},
  "connections": {
    "Démarrage manuel": {
      "main": [[{ "node": "Gmail — emails du jour", "type": "main", "index": 0 }]]
    },
    "Planification — 8h jours ouvrés": {
      "main": [[{ "node": "Gmail — emails du jour", "type": "main", "index": 0 }]]
    },
    "Webhook — GET /mailstoday": {
      "main": [[{ "node": "Gmail — emails du jour", "type": "main", "index": 0 }]]
    },
    "Gmail — emails du jour": {
      "main": [[{ "node": "Formater les emails", "type": "main", "index": 0 }]]
    },
    "Formater les emails": {
      "main": [[{ "node": "Préparer Groq", "type": "main", "index": 0 }]]
    },
    "Préparer Groq": {
      "main": [[{ "node": "Appel Groq API", "type": "main", "index": 0 }]]
    },
    "Appel Groq API": {
      "main": [[{ "node": "Formater réponse", "type": "main", "index": 0 }]]
    },
    "Formater réponse": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b85d2e1-dd71-418d-8c4f-cb3b0f50c2ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d379c6d276cd18b968149d85e437d33b23ab4fed32827674a73536c86ff17286"
  },
  "id": "7TlE1cRzu8bNqqOl",
  "tags": []
}
