n8n-workflow.json
{
  "name": "Résumé Emails Gmail — Agent IA",
  "nodes": [
    {
      "parameters": {},
      "id": "2be7dc92-118b-4359-8f79-2b7de04474ea",
      "name": "Démarrage manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "1922d135-d78f-4411-815e-61624b08e7ae",
      "name": "Planification — 8h jours ouvrés",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "path": "mailstoday",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1611348c-3e92-4c32-bf0a-eb7ced844a81",
      "name": "Webhook — GET /mailstoday",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        320
      ],
      "webhookId": "mailstoday-webhook"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "={{ 'after:' + new Date().toISOString().slice(0,10).replace(/-/g,'/') }}"
        },
        "options": {}
      },
      "id": "e7621a1f-25cf-4c32-9cb2-f6a6281666dc",
      "name": "Gmail — emails du jour",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        288,
        160
      ],
      "webhookId": "0ca843ea-bf58-4e8e-901b-54380a8206b7",
      "credentials": {
        "gmailOAuth2": {
          "id": "QRw4xl07PB0fY6Ik",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = items.map(item => {\n  const msg = item.json;\n\n  let from = '';\n  if (typeof msg.from === 'string') {\n    from = msg.from;\n  } else if (msg.from?.text) {\n    from = msg.from.text;\n  } else if (msg.from?.value?.[0]) {\n    const v = msg.from.value[0];\n    from = v.name ? `${v.name} <${v.address}>` : v.address || '';\n  }\n\n  const subject = msg.subject || '(sans objet)';\n  const date = msg.internalDate\n    ? new Date(Number(msg.internalDate)).toISOString()\n    : msg.date || new Date().toISOString();\n  const body = msg.text || msg.body?.text || msg.snippet || '';\n  const snippet = msg.snippet || body.substring(0, 200);\n\n  return { id: msg.id || '', from, subject, date, snippet, body };\n});\n\nreturn [{ json: { emails, count: emails.length } }];"
      },
      "id": "71f46bbf-7c27-43d6-8f32-76905464f5b2",
      "name": "Formater les emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const emails = items[0].json.emails || [];\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.emails = JSON.stringify(emails);\n\nconst prompt = emails.length === 0\n  ? 'Aucun email reçu aujourd\\'hui.'\n  : emails.map((e, i) => `${i+1}. De: ${e.from}\\n   Objet: ${e.subject}\\n   Extrait: ${e.snippet?.substring(0,150)}`).join('\\n\\n');\n\nreturn [{ json: {\n  groqBody: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n      { role: 'system', content: 'Tu es un assistant qui résume des emails professionnels en français, de manière concise et structurée.' },\n      { role: 'user', content: `Voici les emails reçus aujourd\\'hui. Fais un résumé concis en 3 à 5 bullet points :\\n\\n${prompt}` }\n    ],\n    temperature: 0.5,\n    max_tokens: 400\n  })\n}}];"
      },
      "id": "c91f2597-d22e-4e7b-abae-6975ccfd2020",
      "name": "Préparer Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer VOTRE_CLÉ_GROQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.groqBody }}",
        "options": {}
      },
      "id": "304034df-a5da-41ae-ae6a-434b9ed81194",
      "name": "Appel Groq API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1008,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst emails = staticData.emails ? JSON.parse(staticData.emails) : [];\nconst summary = items[0].json.choices?.[0]?.message?.content || 'Résumé non disponible.';\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  date: new Date().toISOString().split('T')[0],\n  summary,\n  emails\n} }];"
      },
      "id": "dfbeee5d-9df2-497e-906f-899289eebcdc",
      "name": "Formater réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5c154233-be1a-4921-b4c9-ce5497dbcc8b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1488,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Démarrage manuel": {
      "main": [
        [
          {
            "node": "Gmail — emails du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planification — 8h jours ouvrés": {
      "main": [
        [
          {
            "node": "Gmail — emails du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — GET /mailstoday": {
      "main": [
        [
          {
            "node": "Gmail — emails du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — emails du jour": {
      "main": [
        [
          {
            "node": "Formater les emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater les emails": {
      "main": [
        [
          {
            "node": "Préparer Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Groq": {
      "main": [
        [
          {
            "node": "Appel Groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel Groq API": {
      "main": [
        [
          {
            "node": "Formater réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater réponse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "92490b76-2ba4-471f-a2ea-a1056f017966",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27aa39d32b352cd349cd59b78cbec652ea800a74cde77db36a4c2751d923371f"
  },
  "id": "JGY2zDwrsQe1wutf",
  "tags": []
}